# Copyright (c) 2024
# SPDX-License-Identifier: Apache-2.0

config GPIO_MIK32
	bool "Mikron GPIO Controller"
	default y
	depends on DT_HAS_MIKRON_MIK32_GPIO_ENABLED
	help
	  Enable Mikron MIK32 GPIO Controller.
