# Copyright (c) 2014-2015 Wind River Systems, Inc.
# Copyright (c) 2016 Cadence Design Systems, Inc.
# Copyright (c) 2019-2023 Intel Corp.
# SPDX-License-Identifier: Apache-2.0

config RISCV_SCR1_MACHINE_TIMER
	bool "RISCV Machine Timer for Syntacore SCR1"
	default y
	depends on DT_HAS_SYNTACORE_MACHINE_TIMER_ENABLED
	select TICKLESS_CAPABLE
	select TIMER_HAS_64BIT_CYCLE_COUNTER
	help
	  This module implements a kernel device driver for the
	  Syntacore-specific RISCV machine timer.
	  It provides the standard "system clock driver" interfaces.

if RISCV_SCR1_MACHINE_TIMER

config RISCV_SCR1_MACHINE_TIMER_SYSTEM_CLOCK_DIVIDER
	int
	default 319
	help
	  Specifies the division ratio of the system clock supplied to the
	  Syntacire SCR1 timer.

endif
