if SOC_MIK32

config NUM_IRQS
        default 32

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 100000

config SYS_CLOCK_TICKS_PER_SEC
	default 10

config GEN_ISR_TABLES
	default n

config GEN_SW_ISR_TABLE
	default n

config GEN_IRQ_VECTOR_TABLE
	default n

config RISCV_VECTORED_MODE
	default n

config RISCV_RESERVED_IRQ_ISR_TABLES_OFFSET
	default 0

config OUTPUT_DISASSEMBLY
	default y

config BUILD_OUTPUT_HEX_GAP_FILL
	default y

config ISR_FIXUP_SECTION_ALIGNMENT
	default 0x80

config ISR_FIXUP_SECTION_OFFSET
	default 0x40

config RISCV_JUMP_TO_CODE_OFFSET
	default 0x80000

config RISCV_MCAUSE_EXCEPTION_MASK
	default 0xf

config RV_BOOT_HART
	default -558821375

endif # SOC_MIK32
