config SOC_MIK32
	select RISCV
	select RISCV_ISA_RV32I
	select RISCV_ISA_EXT_M
	select ATOMIC_OPERATIONS_C
	select RISCV_ISA_EXT_C
	select RISCV_ISA_EXT_ZICSR
	select RISCV_ISA_EXT_ZIFENCEI
	select RISCV_SOC_HAS_GP_RELATIVE_ADDRESSING
	select XIP
 	select GNU_C_EXTENSIONS
	select BUILD_OUTPUT_HEX
	select RISCV_SOC_HAS_CUSTOM_IRQ_HANDLING
	select INCLUDE_RESET_VECTOR
	select NON_POWER_OF_2_ISR_ALIGNMENT_FIXUP
	select RISCV_JUMP_TO_CODE
	select RISCV_USE_START_AS_MTVEC
  select DYNAMIC_INTERRUPTS

	#	select RISCV_PRIVILEGED
