# SPI driver configuration options

# Copyright (c) 2025 Excave.ru
# SPDX-License-Identifier: Apache-2.0

if SPI

module = SPI
module-str = spi
source "subsys/logging/Kconfig.template.log_config"

rsource "./Kconfig.*"

endif # SPI
