# Memory controller configuration options

# Copyright (c) 2025 Excave.ru
# SPDX-License-Identifier: Apache-2.0

if I2C

module = I2C
module-str = i2c
source "subsys/logging/Kconfig.template.log_config"

rsource "./Kconfig.*"

endif
