# Copyright (c) 2024
# SPDX-License-Identifier: Apache-2.0

config MEMC_MIKRON_SPIFI
	bool "Mikron SPIFI Memory Controller"
	default y
	depends on DT_HAS_MIKRON_SPIFI_ENABLED
	help
	  Enable Mikron SPIFI Memory Controller.
