/*
 * Copyright (C) 2022, Syntacore Ltd.
 * TODO: Contributed 2024 ...
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *     http://www.apache.org/licenses/LICENSE-2.0
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#include <mem.h>

/dts-v1/;

/ {
	#address-cells = <1>;
	#size-cells = <1>;
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		cpu0: cpu@0 {
			reg = <0>;
			clock-frequency = <32000000>;
			compatible ="syntacore,scr1", "riscv,cpus";
		};

		CPU_intc: interrupt-controller {
			#address-cells = <0>;
			#interrupt-cells = <1>;
			interrupt-controller;
			compatible = "riscv,cpu-intc";
		};
	};

	sram0: memory@2000000 {
		compatible = "mmio-sram";
		reg = <0x02000000 DT_SIZE_K(16)>;
	};

	soc {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "syntacore,scr1-soc";
		ranges;

		mtimer: timer@f0040000 {
			compatible = "syntacore,machine-timer";
			reg = <0xf0040000 0x1000>;
			interrupts = <7>;
			interrupt-parent = < &CPU_intc >;
		};

		epic: interrupt-controller@bf0 {
			compatible = "mikron,epic";
			#address-cells = <0>;
			#interrupt-cells = <1>;
			interrupt-controller;
			interrupts-extended = <&CPU_intc 11>;

			reg = <0xbf0 0x10>;
		};

		usart0: serial@ff010000 {
			compatible = "ns16550";
			reg-shift = < 2 >;
			reg = <0xff010000 0x40>;
			current-speed = <115200>;
			status = "okay";

			interrupts = <1>;
			interrupt-parent = < &epic >;
		};

		eeprom: eeprom@1000000 {
			compatible = "micron,eeprom-8k-blk";
			reg = <0x01000000 0x2000>;
			size = <8192>;
			status = "disabled";
		};
	};
};
